.problem--container-fluid {
	display: flex;
	justify-content: space-between;
}

.hoverable-image {
	opacity: 0.8;
	cursor: pointer;
	max-width: 50px;
	height: auto;
	margin: 12px;
	filter: invert() drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.4));
}

.problem-header-main {
	text-align: center;
	vertical-align: middle;
}

.problem-header-main input {
	width: 110px;
	height: 67px;
}
